/* 

@media screen and (max-width:480px) and (min-width:320px) {
    html,body{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    header{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        position: static;
    }
    .nav-bar .logo{
        margin: 0;
    }
    .nav-bar .logo img{
        width: 140px;
        height: 52px;
        margin: 0px 0px;
    }
    .menu{
        display: block;
    }
    .banner{
        width: 100%;
        height: 170px;
    }
    .text{
        width: 40%;
        padding: 10px;
    }
    .image{
        width: 50%;
        padding-left: 40px;
    }
    .text h1{
        width: 200px !important;
        font-size: 10px !important;
        line-height: normal !important;
        padding: 4px;
    }
    .text p{
        width: 200px;
        font-size: 6px;
        padding: 4px 14px;
    }
    .image img{
        clear: both;
        display: block;
        width: 143px;
        height: 115px;
    }
    .aboutus{
        padding: 0;
    }
    div.abt{
        margin: 0 !important;
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .abt-img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .abt-img img{
        position: static;
    }
    .abt-text{
        width: 100%;
        padding: 10px 15px;
    }
    .our-service{
        flex-direction: column;
    }
    .ser{
        width: 100%;
        height: auto;
    }
    .ser img{
        margin-left: 20px;
    }
    .ser p{
        font-size: 14px;
    }
    section.portfolio{
        padding: 0;
    }
    .portfolio .title{
        margin: 0;
    }

    .our-works{
        position: static;
        width: 100%;
        height: auto;
        display: block;
        flex-direction: column;
    }
    .works{
        display: none;
        width: 100%;
        height: auto;
    }

    

} */